.idea
*.xcuserstate

JFramework.xcworkspace/xcuserdata/djajcevic.xcuserdatad/UserInterfaceState.xcuserstate

JFramework.xcodeproj/project.xcworkspace/xcuserdata/djajcevic.xcuserdatad/UserInterfaceState.xcuserstate
